{% extends 'layout.html' %}

{% block title %}
    {{ song_to_delete.song_name }} {{ super() }}
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container">
        <h2>Are you sure that you want to delete {{ song_to_delete.song_name }}?</h2>
        <form action="#" method="post">
            <input type="submit" value="Delete">
        </form>
        <a href="{{ url_for('show_playlist', playlist_id=song_to_delete.id) }}">Cancel</a>
    </div>
{% endblock %}