{% extends 'layout.html' %}
{% block title %}
    Home {{ super() }}

{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}

    <button><a href="{{ url_for('login') }}">Log In</a></button>
    <button><a href="{{ url_for('g_disconnect') }}">Disconnect</a></button>
    {% for user in users %}
        <p><strong>{{ user.name }}</strong></p>
        <p>{{ user.email }}</p>
        <a href="{{ url_for('show_user', user_id=user.id) }}">Profile</a>
        <br>
    {% endfor %}

{% endblock %}
