{% extends 'layout.html' %}
{% block title %}
    Show user {{ super() }}
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container">

        <div class="menu">
            <a href="{{ url_for('edit_user', user_id=user_id) }}">Edit</a>
            <a href="{{ url_for('delete_user', user_id=user_id) }}">Delete user</a>
            <a href="{{ url_for('create_playlist', user_id=user_id)}}">Create Playlist</a>
        </div>

        <div class="user-info">

            <h1>Profile for user {{ users.name }}</h1>
            <p>Some info!</p>
            <br>
            <ul>
                {% for user in users %}
                    <li><strong>Name: </strong>{{ user.name }}</li>
                    <li><strong>Email: </strong>{{ user.email }}</li>
                    <li><strong>ID: </strong>{{ user.id }}</li>
                    <li> <Strong>Playlists: </Strong>
                        {% for playlist in playlists %}
                                <a href="{{ url_for('show_playlist', playlist_id=playlist.id) }}">{{playlist.name}} </a><br>
                        {% endfor %}

                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
