{% extends 'layout.html' %}

{% block title %}
    {{ playlist.name }} {{ super() }}
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    
    <div class="container">
        <a href="{{ url_for('edit_playlist', playlist_id=playlist_id) }}">Edit</a>
        <li>
            <strong> Name: </strong>
            {{ playlist.name }}
        </li>
        <li>
            <strong> Description </strong>
            {{ playlist.description }}
        </li>

        <li>
            <strong>Creator: </strong>
            {{ playlist.user_id}}
        </li>

        <li>
            <strong>Songs: </strong>
            {% for song in songs %}
                song.name
            {% endfor %}

        </li>

    </div>
{% endblock %}