{% extends 'layout.html' %}
{% block title %} {{ playlist.name }} {{ super() }}
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container">
        {% if login_session['user_id'] == creator.id %}

            <a href="{{ url_for('edit_playlist', user_id=user_id, playlist_id=playlist_id) }}">Edit</a>
            <a href="{{ url_for('delete_playlist', user_id=user_id, playlist_id=playlist.id) }}">Delete</a>
            <a href="{{ url_for('add_song_to_playlist', playlist_id=playlist.id) }}">Add song</a>

        {% endif %}
        <a href="{{ url_for('show_playlist_json', playlist_id=playlist_id) }}">JSON API</a>

        <h1>Playlist page</h1>
        <ul>
            <strong> Name: </strong>
            {{ playlist.name }}
        </ul>
        <ul>
            <strong> Description </strong>
            {{ playlist.description }}
        </ul>

        <ul>
            <strong>Creator: </strong>
            {{ creator.name}}
        </ul>

        <ul>
            <strong>Songs: </strong>
            {% for song in songs %}
                <ul><a href="{{ url_for('show_song', song_id=song.id, playlist_id=song.playlist_id)}}">{{ song.song_name }}</a></ul>

            {% endfor %}

        </ul>

    </div>
{% endblock %}
